*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}
.home{
    height: 800px;
    background: #FFF7E8;
}
.login{
    width: 543px;
    height: 800px;
    background: #35CD8C;
}
.nav-link{
    transform: translate(70px,5px);
    padding: 3px !important;
    margin: 5px !important;
}
.btn-group{
    transform: translateX(100px);
    outline: none !important;
}
.text-success{
    transform: translate(50px);
    font-size: 50px;
    font-weight: 900;
}
.logotip{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translateX(50px);
}
#h1{
    transform: translateY(50px) translateX(50px);
    color: #35CD8C40;

}
.td{
    background-color: #FFF7E8 !important;
    transform: translate(0px,0px) !important;
}
.bg-body-tertiary{
    outline: none;
    transform: translateY(100px
    );
}
#DDD{
    transform: translate(-790px,-90px);
}
.qw{
    color: gray;
    transform: translate(-12px, -171px);
}
#img_12{
    border-radius: 10px;
transform: translate(50px,50px);
}
.tr{
    background-color: #FFF7E8 !important;
    transform: translate(50px,90px) !important;
}
#ll{
    border-radius: 10px;
    width: 500px;
    background-color: #35cd8b7a;
    transform: translate(0px,-96px);
}
#ll > button{
    width: 100px;
    transform: translate(400px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
    outline: none;
    border: 1px solid black;
    background-color: white;

}
#Ll{
    border-radius: 10px;
    width: 500px;
    background-color: #35cd8b7a;
    transform: translateY(-242px) translateX(551px);
}
#Ll > button{
    width: 100px;
    transform: translate(400px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
    outline: none;
    border: 1px solid black;
    background-color: white;
}
#Footer{
    transform: translateY(10px);
}